a { text-decoration:none;padding:0px 10px;font-family:georgia; color:white;}

nav {position:fixed; top:0; left:0; right:0;}

.nav-bar {background:grey; border:solid red 2px;}

section {margin-top:45px; background:url(sky.jpg); overflow:hidden;}

b {font-family:georgia;color:blue;}
 
.tj {color:;}
overflow:hidden;

body {background:blue;}
.NWH {border:solid red 2px; background:grey;padding:20px;}
h6 {background:black; color:white;}

.jj {color:white;}